<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcommunity.server.repository.mybatis.TestUserEntityMyBatisRepository">
	<select id="findAll" resultType="TestUserEntity">
		SELECT uuid, create_date as createDate, modify_date as modifyDate, user_name as userName, age
		FROM t_test_user
	</select>


	<select id="findOne" resultType="TestUserEntity">
		SELECT uuid, create_date as createDate, modify_date as modifyDate, user_name as userName, age
		FROM t_test_user
		WHERE uuid = #{uuid}
	</select>
</mapper>
